torch==1.11.0
torchvision==0.1.6
pytorch-lightning==1.6.0
test-tube==0.7.5
kornia==0.7.0
opencv-python==3.4.0.14
matplotlib
jupyter

# for mesh
PyMCubes
pycollada
trimesh
pyglet

# for point cloud
plyfile
open3d
